
.left {
    float:left;
    width: 33.5%;
    transform: translate(0, 3%);
    //background-color: bisque;
}

.right{
    float:right;
    margin-right: 650px;
    transform: translate(0, 3%);
    //background-color: bisque
}