
.left {
    float:left;
    width: 33.5%;
    transform: translate(0, 3%);
    //background-color: bisque;
}

.right{
    float:right;
    margin-right: 650px;
    transform: translate(0, 3%);
    background-color: bisque
}


.close {
    position: absolute;
    right: 23px;
    top: 64px;
    width: 25px;
    height: 25px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  