

#title{
    color: #696969;
    // /margin-left: 15px;
    font-weight:lighter ; 
    font-size: .85em;
}


.modifiable{
    border: 0px solid #00000000;
    outline: none;
    font-size: .8em;
    color:rgb(97, 97, 97);
    border-bottom: 1px solid rgb(228, 228, 228);
}
.modifiable:focus{
    border-bottom: 2px solid #38a3a5;
    outline: 1px rgb(131, 131, 131);
}
.modifiable-reduced{
    border: 0px solid #00000000;
    outline: none;
    font-size: .75em;
    color:rgb(99, 98, 98);
}
.modifiable-reduced:focus{
    border-bottom: 2px solid rgb(209, 209, 209);
    outline: 1px rgb(131, 131, 131);
    
}
.modifiable::placeholder{
    color: rgb(161, 161, 161)
}
.nwline{
    display: block;
    margin-top:8px;
}
#first-name{
    float: left;
}
#last-name{
    float: right;
}

.drop-down{
    width: 80%;
    border: 1px solid rgb(230, 230, 230);
    outline: none;
    background-color: white;
    border-radius: 0px;
}


hr {
    // display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(230, 230, 230);
    // margin: 1em 0;
    // padding: 0;
}


.fields{
    list-style-type: none;
    text-decoration: none;
    a:link, a:visited{
        list-style-type: none;
        text-decoration: none;
    }

    #field-title{
        border-left: 4px solid #bb3232;
        padding-left: 3px;
        outline: none;
        font-size: .8em;
        color:rgb(43, 43, 43);
    }
}



.multiple{
    outline: none;
    font-size: .8em;
    color:rgb(26, 26, 26);
}

.multiple-title{
    outline: none;
    font-size: .8em;
    color:rgb(26, 26, 26);
    border-left: 4px solid #38a3a5;
    padding: 3px;
}

.dashed-line{
    border:none;
    border-top:1px dashed rgb(230, 230, 230);
    color:#fff;
    background-color:#fff;
    height:1px;
}