

<div class="container">


  <p class="nwline multiple" >
    <input class="w3-radio" type="radio" name="profileType" value="speaker" [checked]="setProfileType('speaker')"
          (click)="toggleProfileType('speaker')">
    <label>Speaker</label> &nbsp;
    <input class="w3-radio" type="radio" name="profileType" value="teacher" [checked]="setProfileType('teacher')" 
          (click)="toggleProfileType('teacher')">
    <label>Educator</label> &nbsp;
  </p>
  
  <br>

  <app-settings-speaker-inputs *ngIf="profileType == 'speaker'"></app-settings-speaker-inputs>
  <app-settings-teacher-inputs *ngIf="profileType == 'teacher'"></app-settings-teacher-inputs>

</div>
