

hr {
    // display: block;
    //margin-top: 15.5px;
    margin-left: -10px;
    margin-right: -10px;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(216, 216, 216);
    // margin: 1em 0;
    // padding: 0;
}


.container{
    margin-top:10px;
    position: absolute;
    background-color: white;
    margin-left: 250px;
    color: rgb(31, 31, 31);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 2px;
    padding: 10px;
    min-height: 1031px;
    width:673px;
}

.title{
    color: #696969;
    // /margin-left: 15px;
    font-weight:lighter ; 
    font-size: .85em;
}


#event-note{
    padding-top:10px;
    padding-bottom:10px;
    font-weight:lighter ; 
    font-size: .9em;
    width: 100%;
    padding-right: 6px;
    text-align: center;

    #event-number{
        color:#000;
        font-weight: bold;
    }
}
#event-note:hover{
    cursor: pointer;
    text-decoration: underline;
}


#video{
    border: 1px solid rgb(85, 83, 83);
    border-radius: 3px;
}

