
<div id="container" [style.margin-left]="getMarginLeft()+'px'">
  
  <span id="left" *ngIf="showLoadIcon == false">


    <p id="more" class="profession noselect">You may be interested in ({{suggestedCount}})</p>
      <hr id="hr-top">
      <li *ngFor="let profile of profiles" id="profile-block" (click)="selectProfile(profile)"
          [style.border-left]="ifCurrent(profile,'border-left')"
          [style.background-color]="ifCurrent(profile,'background-color')">
        <img class="profile-img noselect" src={{profile.pictureUrl}} alt="img" (error) = "resetPicUrl(profile.id)" [style.margin-left]="ifCurrent(profile,'pic-margin-left')">
        <span id="profiles-item-name"  [style.margin-left]="ifCurrent(profile,'name-margin-left')"> {{profile.firstName}} {{profile.lastName}}</span>
        <span id="profiles-item-position"  *ngIf='profile.position != ""' [style.margin-left]="ifCurrent(profile,'title-margin-left')"> {{profile.industry}}</span>
        <span id="profiles-item-position-empty" class="noselect" *ngIf='profile.position == ""' [style.margin-left]="ifCurrent(profile,'title-margin-left')"> &nbsp;</span>
      </li>
  </span>




</div>
  




