
<div id="container">
  
  <span id="left" *ngIf="showLoadIcon == false">
      <!-- <hr id="separator"> -->
      <!-- <p id="title" class="profession"> Suggestions</p>  -->

    <!-- <ul class="user-container">
      <li *ngFor="let user of users" class="user-block" (click)="showDetails(user.id)">
        <a id="username" routerLink="details/{{user.id}}"> {{user.firstName}} {{user.lastName}}</a>
        <hr>
        <img class="profile-img" src={{user.pictureUrl}} alt="img" >
        <hr>
        <div class="profession"> {{user.industry}} </div>
        <div class="detail"> {{user.headline}} </div>
        <div class="detail"> {{user.location}} </div>
      </li>
    </ul> -->

    <p id="more" class="profession">See ({{suggestedCount}})</p>
      <li *ngFor="let user of users" id="more-block" (click)="showProfiles(user.id)">
        <img class="more-img" src={{user.pictureUrl}} alt="img" (error) = "resetPicUrl(user.id)">
        <a id="more-item" routerLink="profile/{{user.id}}"> 
          {{user.firstName}} {{user.lastName}} <span *ngIf='user.position != ""'>.</span> {{user.position}} </a>
      </li>
  </span>

  <div class="loader" *ngIf="showLoadIcon == true"></div>

  <!-- <i id="loadIcon" class="fa fa-spinner fa-spin" *ngIf="showLoadIcon == true"></i> -->


</div>
  




