
#container{
    font-size: .9em;
    padding-left: 10px;
    border-right: 0px solid rgb(153, 153, 153);


}

.block:focus{
    border: 1px solid #38a3a5;
    outline: none;
  }

.block{
    transition: all 0.12s linear;
    //border: 1px solid rgb(211, 211, 211);
    //border-top: 3px solid #8d8d8d94;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.045);
    border-radius: 3px;
    padding: 0px;
    width:100%;
    height: 400 px;
    font-weight:lighter ; 
    font-size: .87em;
    color:rgb(68, 68, 68);

}

#hr-separator{
    // display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(230, 230, 230);
    // margin: 1em 0;
    // padding: 0;
}

.title{
    color: #38a3a5;
}

.drop-down{
    width: 80%;
    border: 1px solid rgb(230, 230, 230);
    outline: none;
    border-radius: 0px;
}

#more{
    text-align: center;
    text-decoration: underline;
}
#more:hover{
    cursor: pointer;
}

#hr-footer{
    border: 0;
    height: 1px;
    border-top: 2px solid rgb(194, 194, 194);

}






