

<nav>

  <ul class="topnav">

    <li><a routerLink="" [class.activated] = "currentUrl == '/'"> Home </a></li>

    <li>  <a routerLink="public" [class.activated] = "currentUrl == '/public'"> Call</a> </li>
    <li>  <a routerLink="alerts" [class.activated] = "currentUrl == '/alerts'"> Plan</a> </li>
      
    <li class="topnav-centered"> 
      <a href="https://www.dreamwakers.org/" [class.activated] = "currentUrl != nil"> Dreamwakers </a>
    </li>

      <li style="float: right" >
          <a routerLink="/auth" [class.activated] = "currentUrl == '/auth'">Log in</a>
        </li>

  </ul>
</nav>