


<nav id="container"  #container style="padding:0px;" [style.margin-left]="getMarginLeft()" *ngIf='showSearchRes == true'>
    <li *ngFor="let profile of profiles" class="profile" (click)="showProfiles(profile.id)">
      <img class="pic" src={{profile.pictureUrl}} alt="img" >
      <span class="res-name" id="" > {{profile.firstName}} {{profile.lastName}} </span>
      <i id="fa-dot" class="fa fa-circle"></i>
      <span class="res-details" *ngIf="profile.industry != ''">{{profile.industry}}</span>
      <span class="res-details" *ngIf="profile.industry == ''">{{profile.headline}}</span>
    </li>
</nav>