

#container{
  width:530px;
  max-width:530px;
  background-color: white;
  border: 1px solid rgb(197, 197, 197);  
  border-top: 0px solid rgb(197, 197, 197);  
  list-style-type: none;
  margin-left:10px;
  margin-top:1px;
}

.pic{
  position: absolute;
  margin-top: 7px;
  margin-left: 8px;
  object-fit: cover;
  border-radius: 50%;
  width:32px;
  height:32px;

}

.profile{
  height: 45px;
}
.profile:hover{
  cursor: pointer;
  background-color: rgb(233, 233, 233);
}


.res-name{
  display: inline-block;
  font-size: .87em;
  font-weight: 600;
  margin-left:52px;
  margin-top:15px;
}

.res-details{
  display: inline-block;
  font-size: .9em;
  color: rgb(122, 122, 122);
  margin-left:18px;
  font-weight: 400;
}

#fa-dot{
  font-size:5px;
  color:rgb(77, 76, 76);
  position: absolute;
  margin-left:7px;
  margin-top:22px;
}