
  <div id="container">
    
    <!-- <div>
      <input type="text" class="searchTerm" placeholder="search speaker ..." (input)='newSearch($event.target.value)'>
      <button type="submit" class="searchButton">
        <i class="material-icons">search</i>
      </button>
    </div> -->




  <span id="left">
      <ul class="user-container"> <!--[@listStagger]="users$"-->
        <li *ngFor="let speaker of speakers" class="user-block" (click)="showDetails(speaker.id)">
          <a routerLink="details/{{speaker.id}}"> {{speaker.firstName}} {{speaker.lastName}}</a>
          <hr>
          <img class="profile-img" src={{speaker.pictureUrl}} alt="img" >
          <hr>
          <div class="profession">{{speaker.industry}}</div>
          <div class="detail">{{speaker.headline}}</div>
          <div class="detail">{{speaker.location}}</div>
        </li>
      </ul>
  </span>