

#container{
    width:300px;
    position: relative;
    float: left;
}



.profession {
    color: rgb(6, 157, 177);
    font-size: .95em;
}
.detail {
    font-size: 0.8em;
}

.profile-img{
    object-fit: cover;
    width:120px;
    height: 120px;
    border: 1px solid #919191;

}


.button {
    background-color: #9c9c9c; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: lighter;
    margin: 2px 0px;
    border-radius: 2px;
    width: 150px;
    cursor: pointer;
    top: 40px;
    margin-left: 20px;
}
