

<ngx-smart-modal #accounttype  identifier="accounttype" [closable]="false" [dismissable]="false" [autostart]="false" >
  <pre style="font-size: .95em; font-family: 'Lucida Grande'">Welcome {{profile.fName}}, how would you describe yourself ?</pre>
  <div style="margin-top: 20px;">
    <button class="button" style="display: inline;margin-left: 100px;" (click)="updateProfileType('speaker')">Speaker &nbsp; </button>
    <button class="button" style="display: inline;margin-left: 50px ;" (click)="updateProfileType('teacher')">Educator</button>
  </div>
  <p class="footer" style="margin-top: 20px;"> This information helps us match you with the right accounts</p>
</ngx-smart-modal>


<ngx-smart-modal #dwform  identifier="dwform" [closable]="false" [dismissable]="false" [autostart]="false" *ngIf="dwForm.skip == false">
    <app-dwForm></app-dwForm>
</ngx-smart-modal>

<!-- <app-home-filter *ngIf="showFilter" [style.margin-left]="getMarginLeft()+'px'"></app-home-filter> -->



<nav id="navigation">

    <ul class="topnav">  


      <li><a routerLink="home" [style.margin-left]="getMarginLeft()+'px'" (click)="location.reload()">
                <img class="icon" [src]="'assets/img/logo.jpg'" alt="Refresh" >
          </a></li>
  
      
      <input id="searchBarId" #searchBarId type="text" class="searchTerm" placeholder="search profile..." (input)='newSearch($event.target.value)' *ngIf="seeTabElements == true">
        
      <li style="float: right;margin-right: 1% ; margin-top: 4px;" *ngIf="signedIn()"> 
          <a (click)="signOut()" class="item">
            <span id="exit">Exit</span></a>
        </li>
      
      <span class="item" *ngIf="profile.hasData" (click)="showProfile()">
        <img class="profile-img" src={{profile.picUrl}} alt="img" (click)="showProfile()">
      </span>


    </ul>
  </nav>


  