.item:hover{
    cursor: pointer;
}

#navigation{
    position: fixed;
    width: 100%;
    top:0px;
    z-index: 50;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        //background-color: #3A66A7;
        background-color: white;//rgb(49, 129, 143);
        border-radius: 2px;
        border-top: 1px solid rgb(223, 223, 223);
        border-bottom: 1px solid rgb(185, 185, 185);
        min-height: 40px
    }

    li {
        float: left
    }

    li a {
        display: block;
        text-align: center;
        padding: 0px 12px;
        margin-top:7px;
        text-decoration: none;
        border-radius: 2px;
        text-decoration: none;
    }

    // li a:hover:not(.active) {
    //     //color: #40b7b9
    // }

    .activated {
        //border-bottom: 2px solid #38a3a5;
        //color: #38a3a5;
        color:rgb(102, 102, 102);
    }
    .not-activated {
        //color: rgb(27, 48, 78);
        color:rgb(69, 70, 70)
    }

}



.topnav {
    position: relative;
    overflow: hidden;
    background-color: #333;

  }

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.profile-img{
    object-fit: cover;
    float:right;
    border-radius: 1%;
    margin-top: 9px;
    width:20px;
    height:25px;
    margin-right:0px;
    border-left: 4px solid rgb(214, 213, 213);
    border-right: 4px solid rgb(214, 213, 213);

}
.icon{
    margin-top:-4px;
    border-radius: 2px;
    width:33px;
    border: 1px solid rgb(185, 185, 185);
}

#username {
    margin-right: 3px;
    margin-top: 7px;
    font-family:  'Trebuchet MS', sans-serif;
    color:rgb(82, 82, 82);
    font-weight: lighter;
    font-size: 15px;
    //border-right:.04rem solid rgb(172, 172, 172);
}
#username:hover{
    text-decoration: underline;
}

#exit{
    font-size:15px;
    color:rgb(82, 82, 82);
}
#exit:hover{
    text-decoration: underline;
}



.searchTerm {
    margin-left:30px;
    width: 275px;
    border: 1px solid rgb(160, 160, 160);
    padding: 2px 7px;
    height: 26px;
    border-radius: 1px;
    margin-top: 4px;
    outline: none;
    color: rgb(19, 19, 19);
    font-size: 14px;
    font-weight:lighter ;
  }

  #logout{
    //color: rgb(27, 48, 78);
    color:rgb(69, 70, 70)
}
  #logout:hover{
    color:rgb(126, 126, 126);
  }

.flashchats:hover{
    color:rgb(126, 126, 126);
}




#notification-icon{
    background-color: rgb(211, 79, 61);
    position: absolute;
    width:14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    font-family:  'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 13px;
    margin-top:30px;
    margin-left: -20px;
    z-index: 100;
    color:white;
}

#notification-flashchat:hover{
    background-color: rgb(240, 91, 72);
}