.item:hover{
    cursor: pointer;
}

#navigation{

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3A66A7;
        border-radius: 2px;
        border-top: 1px solid rgb(241, 241, 241);
        border-bottom: 1px solid rgb(202, 202, 202);
        min-height: 40px
    }

    li {
        float: left
    }

    li a {
        display: block;
        text-align: center;
        padding: 0px 12px;
        margin-top:7px;
        text-decoration: none;
        border-radius: 2px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        //color: #40b7b9
    }

    .activated {
        //border-bottom: 2px solid #38a3a5;
        //color: #38a3a5;
        color:white;
    }
    .not-activated {
        color: rgb(27, 48, 78);
    }

}



.topnav {
    position: relative;
    overflow: hidden;
    background-color: #333;

  }

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.profile-img{
    object-fit: cover;
    float:right;
    border-radius: 10%;
    margin-top: 5px;
    width:25px;
    height: 35px;
    border: 1px solid rgba(155, 155, 155, 0.322);
}
.icon{
    border-radius: 2px;
    width:33px;
}

#username {
    margin-right: 3px;
    margin-top: 5px;
    font-family:  'Trebuchet MS', sans-serif;
    color:white;
    //border-right:.04rem solid rgb(172, 172, 172);
}
#username:hover{
    text-decoration: underline;
}



.searchTerm {
    margin-left:30px;
    width: 460px;
    border: 1px solid rgb(51, 51, 51);
    padding: 2px 7px;
    height: 23px;
    border-radius: 3px;
    margin-top: 8px;
    outline: none;
    color: rgb(19, 19, 19);
    font-size: 14px;
    font-weight:lighter ;
  }

  #logout{
    color: rgb(27, 48, 78);
}
  #logout:hover{
      color: white;
  }


#flashchats:hover{
    color:white;
}