




.container{
    position: fixed;
    left:0;
    margin-left: 815px;
    margin-top: 10px;
    background-color: white;
    color: rgb(31, 31, 31);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 2px;
    padding: 10px;
    min-height: 630px;
    //border: 1px solid #b9cece;
    width: 197px;

}

#title{
    color: #696969;
    // /margin-left: 15px;
    font-weight:lighter ; 
    font-size: .85em;
}
