/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

#navigation{
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}



}

.p-note{
    font-size: 0.8em;
    border-left: 6px solid rgb(146, 3, 3);
    background-color: lightgrey;
    width:98.77%;
    padding: 5px 5px 5px 5px;
}
#container{
    //background-color: rgb(111, 146, 175);
}
#user-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    //background-color: #2196F3;
    padding: 10px 10px;
    width: 38%;
    list-style-type: none;
}
#user-block:hover{
    cursor: pointer;
    background: rgb(202, 200, 200);
}
#user-block{
    background: rgb(218, 216, 216);
    border-radius: 2px;
    padding: 10px 0;
    width:150px;
    height: 400 px;
    text-align: center;
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid rgb(190, 188, 188);
        margin: 1em 0;
        padding: 0;
    }
    a {
        font-size: 1em;
        text-decoration: none;
        color:rgb(55, 57, 58);
        
    }
    ul {
        margin-top: 10px;
        list-style-type: none;
        text-align: left;
        font-size: 0.8em;
        li {
            a {
                font-weight: 300;
            }
        }
    }
}
       #user-item{


       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           
       
   
}



#oldcontainer {
    display: grid;
    grid-template-rows: auto;
    width: 100%;
 
    
        padding: 30px 50px;
 
        ul {
            list-style-type: none;
            margin:0;padding:0;
        
            li {
                background: #fff;
                border-radius: 8px;
                padding: 20px;
                margin-bottom: 8px;
        
                a {
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color:#00A8FF;
                }
        
                ul {
                    margin-top: 20px;
                    
                    li {
                        padding:0;
        
                        a {
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    
 }