/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}


.p-note{
    font-size: 0.8em;
    border-left: 6px solid rgb(146, 3, 3);
    background-color: lightgrey;
    width:98.77%;
    padding: 5px 5px 5px 5px;
}



