/* You can add global styles to this file, and also import other style files */

$color-overlay: rgba(0, 0, 0, .7);
//$dialog-position-top: 20%;
//$transition-duration: 500ms;
//$transition-timing-function: ease-in-out;
@import "~ngx-smart-modal/ngx-smart-modal";
@import "app/app.component";
@import "app/components/auth/auth.component";

body {
    margin: 0;
    background: #F2F2F2;
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Lucida Grande';
    //font-family: 'Helvetica Neue';

    font-weight: normal;
    min-width: 1250px;

}

.alert{
    font-size: 0.8em;
    border: 1px solid rgb(165, 165, 165);
    border-left: 6px solid rgb(146, 3, 3);
    background-color: lightgrey;
    width:98.77%;
    padding: 5px 5px 15px 10px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

