
<div id="container">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="search speaker">
       <button type="submit" class="searchButton">
          <i class="material-icons">search</i>

      </button>
    </div>
    <p id="suggested">Suggested (7)</p>
    <hr id="separator">

  <ul class="user-container"> <!--[@listStagger]="users$"-->
    <li *ngFor="let user of users$" class="user-block" (click)="showDetails(user.id)">
      <a routerLink="details/{{user.id}}"> {{user.firstname}} {{user.lastname}}</a>
      <hr>
      <div class="profession">{{user.profession}}</div>
      <div class="detail">{{user.company}}</div>
      <div class="detail">{{user.location}}</div>
    </li>

    <li tabIndex="-1" id="moreUsers" #moreUsersId class="user-block fade-in">
        <a routerLink=""> More</a>
        <hr>
        <div class="profession">Profession</div>
        <div class="detail">company</div>
        <div class="detail">location</div>
    </li>
  </ul>
</div>
  
<div class="vl"></div>


