
.search{
    background-color: #333
}

.suggests {
    width: 33.5%;
    transform: translate(0, 3%);
    background-color: rgb(141, 151, 50);
}

.panel{
    float:right;
}

.left-block {
    float:left;
}

.close {
    position: absolute;
    right: 23px;
    top: 64px;
    width: 25px;
    height: 25px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
    cursor: pointer;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  